<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>Welcome</title>
  </head>
  <body>
    <main class="container">
      <h1>{{message}}</h1>
      <p>Framework for NestJs framework</p>
      <div class="grid">
        <div>
          <h2>Pre-configured</h2>
        </div>
        <div>
          <h2>Syntax sugar</h2>
        </div>
      </div>
      <div class="grid">
        <div>
          <h2>Easy to custom</h2>
        </div>
        <div>
          <h2>Batteries included</h2>
        </div>
      </div>
    </main>
  </body>
</html>
